<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
     <link rel="stylesheet" href="/styles/style.css" type="text/css" ></link>
    </head>
    <body id=mybody>
        
        <div class=container>
            <div class=col-md-12 id=myheader>
                <span class="text-center" ><h1>JSON API : Legendary URL Shortener Microservice</h1></span>
            </div>
            <div class=col-md-12>
                <h2>User stories: </h2>
                <ul>
                    <li><h3>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response. </h3> </li>
                    <li> <h3> When I visit that shortened URL, it will redirect me to my original link.</h3>  </li>
                   
                </ul>
                
                
            </div>
            
            
                
                <div class=col-md-8>
                
                <span><h3>Example URL shortening usage:</h3></span>
                <div class=specols>
                    
                    <div >
                    https://liturl.herokuapp.com/new/https://www.google.com
                </div>
               
                    
                </div>
                
           </div>
            
            
            <div class=col-md-8>
                <span><h3>Example output:</h3></span>
                <div class=specols>
                   { 
                   "original_url":"https://google.com",
                   "short_url":" https://liturl.herokuapp.com/66210 
                   }
                    
                </div>
            
                
            </div>
            
             <div class=col-md-8>
                <span><h3>Usage : Go to</h3></span>
                <div class=specols>
                  https://liturl.herokuapp.com/66210
                
                    
                </div>
            
                
            </div>
            
             <div class=col-md-8>
                <span><h3>Will redirect to </h3></span>
                <div class=specols>
              https://google.com
                
                    
                </div>
            
                
            </div>
                
                
                
                
                
           
            
            
            
        </div>
        
        
    </body>
</html>