#myheader{
    color:blue;
     box-shadow: -10px 10px 30px red;
     margin-top:30px;
}

#mybody{
  
    background-color:#CADEBA;
}

.specols{
    color:red;
}

#myexam{
     box-shadow: -10px 10px 30px #000000;
    border:solid red 1px;
    
}